table td {
	text-align: center;
	padding: 10px;
	margin: 10px;
	border-radius: 6px;
	background-image: url("image.jpg");
	font-family: verdana;
	font-weight: bold;

}
table {
	background: white;
	border-spacing: 7px;
};
