html {
	background-image: url('images/Background2.png');
}

header {
	border-radius: 25px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	color: white;
	padding: 35px;
	font-size: 70px;
	font-weight: bold;
	font-style: italic;
	font-family: 'Arial';
	text-align: center;
}

.main {
	background-image: url('images/fire6.jpg'); 
	border-radius: 30px;
	width: 800px;
	height: 75px;
	margin: auto;
}