table {
	border: 1px;
	border-collapse: separate;
	width: 650px;
	height: 50px;
	margin: auto;
	text-align: left;
	background: #33cc33;
	color: white;
	font-family: 'Calibri';
}
table td {
border-right: inset;
border-left: hidden;
border-top: hidden;
border-bottom: hidden;
	padding: 10px;
}
.trcolor {
	background-color: #ffffff;
	color: black;
}
.trcolor2 {
	background-color: #f2f2f2;
	color: black;
}
img {
	width: 30px;
	height: 30px;
	padding: 5px;
vertical-align: middle;
}
input {
	width: 18px;
	height: 18px;
}