.box1 {
	border: 1px;
	border-style: solid;
	border-color: black;
	border-collapse: separate;
	width: 250px;
	height: 250px;
	margin-top: 300px;
	margin-left: 700px;
	text-align: center;
	background: #ffff1a;
	color: black;
	font-family: 'Calibri';
	font-size: 20px;
	font-style: italic;
}

.box2 {
	border: 1px;
	border-style: solid;
	border-color: black;
	border-collapse: separate;
	width: 180px;
	height: 250px;
	margin-top: -430px;
	margin-left: 750px;
	text-align: center;
	background: #c2c2a3;
	color: white;
	font-family: 'Calibri';
	font-size: 20px;
	font-style: italic;
}

.box3 {
	border: 1px;
	border-style: solid;
	border-color: black;
	border-collapse: separate;
	width: 250px;
	height: 150px;
	margin-top: -130px;
	margin-left: 560px;
	text-align: center;
	background: #33ff33;
	color: #4d2600;
	font-family: 'Calibri';
	font-size: 20px;
	font-style: italic;
}

.box4 {
	border: 1px;
	border-style: solid;
	border-color: black;
	border-collapse: separate;
	width: 100px;
	height: 150px;
	margin-top: -260px;
	margin-left: 590px;
	text-align: center;
	background: #ffcc80;
	color: #4d2600;
	font-family: 'Calibri';
	font-size: 20px;
	font-style: italic;
}

.box5 {
	border: 1px;
	border-style: solid;
	border-color: black;
	border-collapse: separate;
	width: 150px;
	height: 170px;
	margin-top: 200px;
	margin-left: 660px;
	text-align: center;
	background: #33d6ff;
	color: #4d2600;
	font-family: 'Calibri';
	font-size: 20px;
	font-style: italic;
}

.box6 {
	border: 1px;
	border-style: solid;
	border-color: black;
	border-collapse: separate;
	width: 170px;
	height: 140px;
	margin-top: -290px;
	margin-left: 550px;
	text-align: center;
	background: #0039e6;
	color: white;
	font-family: 'Calibri';
	font-size: 20px;
	font-style: italic;
}

.box7 {
	border: 1px;
	border-style: solid;
	border-color: black;
	border-collapse: separate;
	width: 100px;
	height: 120px;
	margin-top: -295px;
	margin-left: 870px;
	text-align: center;
	background: #ff1a75;
	color: white;
	font-family: 'Calibri';
	font-size: 20px;
	font-style: italic;
}