.transition {
	margin-top: 100px;
	margin-left: 100px;
	width: 100px;
    height: 100px;
    background: black;
    transition: width 2s, height 2s, transform 2s;
}
.transition:hover {
    width: 100px;
    height: 100px;
    transform: rotate(180deg);
}